# Making a change to this site? make sure to add/remove the element from the
# config.js, or will won't be checked

SITE_NAME=LazyWebApp

# URL_ORIGIN is selected in config.js
URL_ORIGIN_LOCAL=http://localhost:4200
URL_ORIGIN_DEV=https://dev.lazywebapp.com
URL_ORIGIN_PROD=https://lazywebapp.com

MONGODB_URI_LOCAL=mongodb://lazywebapp:password@localhost:27017/lazywebapp
MONGODB_URI_DEV=mongodb://lazywebapp:password@localhost:27017/lazywebapp
MONGODB_URI_PROD=mongodb://lazywebapp:password@localhost:27017/lazywebapp

JWT_KEY=defaultsecretkey
JWT_REFRESH_TOKEN_KEY=defaultsecretkey

SENDGRID_API_KEY=YOUR_API_KEY

FACEBOOK_APP_ID=
TWITTER_HANDLE=lazywebapp