ORIGIN_LOCAL=http://localhost:4200
ORIGIN_DEV=http://localhost:4200
ORIGIN_PROD=http://localhost:4200

MONGODB_URI_LOCAL=mongodb://lazywebapp:password@localhost:27017/lazywebapp
MONGODB_URI_DEV=mongodb://lazywebapp:password@localhost:27017/lazywebapp
MONGODB_URI_PROD=mongodb://lazywebapp:password@localhost:27017/lazywebapp

JWT_KEY=defaultsecretkey
JWT_REFRESH_TOKEN_KEY=defaultsecretkey