.panel {
  background-size: cover;
  padding: 24px;
  padding-top: 56px;
  padding-bottom: 56px;
  @media (max-width: 767px) {
    padding: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

#intro-top {
  // min-height: calc(70vh -64px);
  background-color: #6bc7cc;
  text-align: center;
  color: #fff;
  // display: -webkit-flex; /* Safari */
  // -webkit-align-items: center; /* Safari 7.0+ */
  // -webkit-justify-content: center; /* Safari 7.0+ */
  // display: flex;
  // align-items: center;
  // justify-content: center;
  .main-logo {
    -webkit-filter: drop-shadow(0px 5px 20px #000 );
    filter: drop-shadow(0px 5px 20px #000);
    min-width: 30%;
    max-width: 90%;
    padding: 56px;
    @media (max-width: 767px) {
      padding: 24px;
    }
  }
  text-shadow: 0px 2px 20px #000;
}

.panel-text {
  text-shadow: 0px 2px 20px #000;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}



.dark-panel-text {
  @extend .panel-text;
  color: #fff;
}

.panel-image {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  img {
    -webkit-filter: drop-shadow(0px 5px 20px #000 );
    filter: drop-shadow(0px 5px 20px #000);
    max-width: 60%;
  }
}

.panel1 {
  background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)),
    url('/assets/img/landscape-pexels.jpg');
}
