<div layout="row">
  <div layout="column" flex>
    <div id="intro-top" class="panel" style="background-image: url('/assets/img/landscape-pexels.jpg')">
      <img class="main-logo" src="/assets/img/logo-square-white.png">
      <h1>
        The best introduction on the internet!
      </h1>
    </div>
  </div>
</div>

<div class="panel panel1">
  <div class="container">
    <div class="row">
        <div class="col-md-6 panel-image"><img src="/assets/img/logo-square-white.png"></div>
        <div class="col-md-6 dark-panel-text">
          <div>
            <h1>Headings for panel</h1>
            <p>Longer description for a panel may include 1 or 2 sentences. It may also include a button.</p>
          </div>
        </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
