

<div layout="row">
  <div layout="column" flex>
    
    <div flex id="intro-top" style="background-image: url('https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
      <img class="main-logo" src="/assets/img/logo-square-white.png">
      <h1>
        The best introduction on the internet!
      </h1>
    </div>
  </div>
</div>

<div class="panel1">
  <div class="container">
    <div class="row">
        <div class="col-md-6 image-col"><img src="/assets/img/logo-square-white.png"></div>
        <div class="col-md-6 text-col">.col-md-6</div>
    </div>
  </div>
</div>

<div class="arow" 
    style="background:url('https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6))">
  <div class="acontainer">
    <div class="row-side">
        <img class="main-logo" src="/assets/img/logo-square-white.png">
    </div>
    <div class="row-side" style="background:rgba(0, 0, 0, 0.7)">
      Ayy, lmao
    </div>
  </div>
</div>

<div class="arow"
    style="background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)),  url('https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
  <div class="acontainer">
      <div class="row-side">
          <img class="main-logo" src="/assets/img/logo-square-white.png">
      </div>
      <div class="row-side" style="background:rgba(0, 0, 0, 0.7)">
        Ayy, lmao
      </div>
  </div>
</div>


<div class="arow"
    style="background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)),  url('https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
  <div class="acontainer">
    <mat-grid-list cols="4">
      <mat-grid-tile
          class="row-side"
          colspan="2"
          rowspan="2">
          <img class="main-logo" src="/assets/img/logo-square-white.png">
      </mat-grid-tile>
      <mat-grid-tile
          class="row-side"
          colspan="2"
          rowspan="2">
        Ayy, lmao
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>