

<div layout="row">
  <div layout="column" flex>
    
    <div flex id="intro-top" style="background-image: url('https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
      <img class="main-logo" src="/assets/img/logo-square-white.png">
      <h1>
        The best introduction on the internet!
      </h1>
    </div>
  </div>
</div>

<div flex id="c2">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        colspan="2"
        rowspan="2"
        style.background="#F00">
      Ayy, lmao
    </mat-grid-tile>
  </mat-grid-list>
</div>