#intro-top {
  padding: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
  min-height: calc(70vh -64px);

  background-color: #6bc7cc;
  text-align: center;
  color: #fff;
  // display: -webkit-flex; /* Safari */
  // -webkit-align-items: center; /* Safari 7.0+ */
  // -webkit-justify-content: center; /* Safari 7.0+ */
  // display: flex;
  // align-items: center;
  // justify-content: center;
  .main-logo {
    -webkit-filter: drop-shadow(0px 5px 20px #000 );
    filter: drop-shadow(0px 5px 20px #000);
    min-width: 30%;
    max-width: 90%;
  }
  text-shadow: 0px 2px 20px #000;
}
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content:         center;
  
  .container {
    flex-grow: 1;
    max-width: 1200px;
    -webkit-justify-content: center;
    justify-content:         center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    .row-side {
      min-width: 300px;
      max-width: 599px;
      flex-basis: auto; /* default value */
      flex-grow: 1;
    }
  }
}



