<div class="simple-form-aligner">
  <mat-card class="simple-form-card">
    <mat-card-title>	Login </mat-card-title>
    <mat-card-subtitle>	Don't have an account? 
      <a routerLink="/register">
        Register here.
      </a>
    </mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <div class="form-group">
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Username" name="username" formControlName="username">
          </mat-form-field>
          <br>
          <mat-form-field class="simple-form-field-100">
            <input matInput type="password" placeholder="Password" name="password" formControlName="password">
          </mat-form-field>
          <br>
          <button
              [disabled]="waiting"
              class="simple-form-button" 
              color="primary" 
              mat-raised-button 
              type="submit" 
              value="submit">
            Submit
          </button>
          <mat-progress-spinner
              *ngIf="waiting"
              color="primary"
              mode="indeterminate"
              style="display:unset; margin-left:7px;"
              [diameter]=22>
          </mat-progress-spinner>
          <span 
              *ngIf='formErrorMessage' 
              class="text-error-color">
            {{formErrorMessage}}
          </span>
        </div>
        </form>
    </mat-card-content>
  </mat-card>
</div>
