<div class="simple-form-aligner">
  <mat-card class="simple-form-card">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <mat-card-title> Join the mailing list </mat-card-title>
      <mat-card-subtitle>
          Be the first to hear new announcements about XCredits
      </mat-card-subtitle>
      <mat-card-content>
        <div class="form-group">
          <mat-form-field class="simple-form-field-50">
            <input matInput placeholder="Given name" name="givenName" formControlName="givenName">
          </mat-form-field>
          <mat-form-field class="simple-form-field-50">
            <input matInput placeholder="Family name" name="familyName" formControlName="familyName">
          </mat-form-field>
          <br>
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Email" name="email" formControlName="email">
          </mat-form-field>
          <br>
          <button
              [disabled]="waiting"
              class="simple-form-button" 
              color="primary" 
              mat-raised-button 
              type="submit" 
              value="submit">
            Join mailing list
          </button>
          <mat-progress-spinner
              *ngIf="waiting"
              color="primary"
              mode="indeterminate"
              class="simple-form-spinner"
              [diameter]=22>
          </mat-progress-spinner>
          <span 
              *ngIf='formErrorMessage' 
              class="text-error-color">
            {{formErrorMessage}}
          </span>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
