<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-4">
      <p>
        Enter two strings to send to the server, and join together.
      </p>
      <form [formGroup]="joinStringForm" (ngSubmit)="joinStringSubmit(joinStringForm.value)">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Text1 field" name="text1" formControlName="text1">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Text2 field" name="text2" formControlName="text2">
          </mat-form-field>
          <button color="primary" mat-raised-button type="submit" value="submit">Submit</button>
        </div>
      </form>
      <p>
        The joined string is: {{joinedStringResult}}
      </p>

      <!-- https://scotch.io/tutorials/using-angular-2s-model-driven-forms-with-formgroup-and-formcontrol -->
      <!-- https://plnkr.co/edit/fYxjHY5xALoLuqaQze6u?p=preview -->

    </div>
  </div>
</div>

