$drawerWidth: 300px;
$navDrawerImage: 'https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260';

mat-drawer-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer {
  width: $drawerWidth;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
  background-image: 
    linear-gradient( rgba(0, 0, 0, 0.8), rgba(0,0,0,.8) ),
    url($navDrawerImage);
  background-size: cover;
}

.logo-toolbar {
  background-color: rgba(0, 0, 0, 0.2);
  img {
    height: 30px;
    margin-top: 7px;
  }
}

mat-drawer mat-icon {
  margin-right: 16px;
}

.top-navbar {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
  .logo-square {
    height: 30px;
    position: relative;
    margin-right: 8px;
  }
}

.navbar-spacer {
  flex: 1 1 auto;
}

.bottom-mobile-nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

