<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened="true">
    <mat-nav-list>
      Drawer<br>
      <a mat-list-item routerLink='/home'>
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink='/help'>
        <mat-icon>help-outline</mat-icon>
        Help
      </a>
      <a mat-list-item routerLink='/settings'>
        <mat-icon>settings</mat-icon>
        Settings
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="mat-icon">
          menu
        </mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="navbar-spacer"></span>
      <mat-icon class="navbar-icon">favorite</mat-icon>
      <mat-icon class="navbar-icon">delete</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>

  

</mat-drawer-container>

