mat-drawer-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-drawer {
  width: 300px;
}

mat-icon {
color: rgba(0,0,0,0.54);
margin-right: 16px;
}