.messageBox {
  border: 1px solid black;
  padding: 5px;
  width: 450px;
  margin-top: 5px;
}

.receiveBox {
  border: 1px solid black;
  padding: 5px;
  width: 450px;
  margin-top: 5px;
}

.sendButton {
  /* float: right; */
  margin-top: 5px;
}

.disconnectButton {
  float: right;
}

.connectButton {
  float: left;
}

.connectionBox {
  padding: 5px;
  width: 450px;
  height: 28px;
}

.fileBox {
  padding: 5px;
  width: 450px;
  height: 40px;
  margin-top: 5px;
  border: 1px solid black;
}