.user-dropdown-menu {
  position: fixed;
  min-width: 250px;
  max-width: calc(100% - 32px);
  right: 16px;
  top: 64px;
  z-index: 2;
  overflow: hidden;
  @media (max-width: 599px){
    top: 56px;
  }
  mat-card-title{
    margin-bottom: 0px;
  }
  mat-card-subtitle{
    margin-bottom: 0px;
  }
}