<div *ngIf="!submitSuccess" class="simple-form-aligner">
  <mat-card class="simple-form-card">
    <mat-card-title>Forgot password </mat-card-title>
    <mat-card-subtitle>Enter your username to have your password emailed to you. 
      Forgot your username? 
      <a routerLink="/forgot-username">
        Email me my username.
      </a>
    </mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <div class="form-group">
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Username" name="username" formControlName="username">
          </mat-form-field>
          <br>
          <button class="simple-form-button" color="primary" mat-raised-button type="submit" value="submit">Submit</button>
          <mat-progress-spinner
              *ngIf="waiting"
              color="primary"
              mode="indeterminate"
              style="display:unset; margin-left:7px;"
              [diameter]=22>
          </mat-progress-spinner>
        </div>
        </form>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="submitSuccess" class="simple-form-aligner">
  <mat-card class="simple-form-card">
    <mat-card-title>Password reset sent</mat-card-title>
    <mat-card-content>If we found your username, we will send a password reset link to your email.</mat-card-content>
  </mat-card>
</div>