@import '~@angular/material/theming';

// Include the common styles for Angular Material. 
@include mat-core();

// Define the default theme
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. Any component inside of an element with
// `.lwa-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.lwa-dark-theme {
  @include angular-material-theme($dark-theme);
}

body {
  margin: 0px;
  font-family: Roboto, Arial, sans-serif;
  .text-error-color {
    color: red;
  }
  .white-text {
    color: white;
    a {
      text-decoration: underline;
    }
    a:link, 
    a:visited{
      color: white;
    }
    a:hover, 
    a:active{
      color: #aaa
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile-visible{
    display: none;
  }
}

// Simple form styles
.simple-form-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.simple-form-card {
  width:400px;
  max-width: 100%;
}

.simple-form-button {
  align-self: flex-end;
}

.simple-form-field-100 {
  width: 100%;
}

.simple-form-field-50 {
  width: 49%;
}

.simple-form-spinner {
  display:unset !important;
  margin-left:7px;
}

// Admin chart styles
.admin-chart{
  display: block;
  width: 800px;
  height: 500px;
}

.container {
  padding-top: 26px;
  padding-bottom: 26px;
}

.centered {
  text-align: center;
}