<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
      <h2>Send files using WebRTC!</h2>
  </div>
  Your id is: 
  <mat-form-field class="id">
    <input align="center" matInput disabled type="text" name="id" id="id" [(ngModel)]="sendZeroService.humanId">
  </mat-form-field>
</div>
<div class="connect">
  <h3>1. Connect</h3>
  {{sendZeroService.connectionPrompt}}
  <br>
  <b>{{sendZeroService.prompt}}</b>
  <br>
  <div class="connectionBox">
    <mat-form-field>
      <input matInput placeholder="Peer ID" type="text" name="peerId" id="peerId" [(ngModel)]="sendZeroService.peerToConnectTo">
    </mat-form-field>
    &nbsp;
    <button mat-raised-button required color="primary" (click)="connectToPeer()" id="connectButton" name="connectButton" class="connectButton" [disabled]="sendZeroService.disableConnectButton">
      {{sendZeroService.connectButtonText}}
    </button>
  </div>
</div>
<br>
<mat-divider></mat-divider>
<!-- <div class="send" *ngIf="JSObject.keys(peers).length !== 0"> -->
<br>
<div class="send">
  <h3>2. Just send it!</h3>
  <table mat-table [dataSource]="JSObject.keys(peers)" class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Select to send file </th>
      <td mat-cell *matCellDef="let peerId">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(peerId) : null"
                      [checked]="selection.isSelected(peerId)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="humanId">
      <th mat-header-cell *matHeaderCellDef> Peer ID </th>
      <td mat-cell *matCellDef="let peerId"> {{peers[peerId].humanId}} </td>
    </ng-container>  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let peerId">{{peers[peerId].prompt}}</td> 
    </ng-container>
    <ng-container matColumnDef="files">
      <th mat-header-cell *matHeaderCellDef> Received files </th>
      <td mat-cell *matCellDef="let peerId">
        <div *ngFor="let file of peers[peerId].files">
          <div class="receiveBox" id="receiveBox" *ngIf="file.maxFileChunks !== 0">
            <mat-progress-bar *ngIf="file.fileReadyForDownload === false"    
                diameter="50"
                mode="determinate"
                [value]="file.receivedChunks*100/file.maxFileChunks">
            </mat-progress-bar>
            <div *ngIf="file.fileReadyForDownload">
                <a target="_blank" [href]="file.url" [download]="file.name">Click here to download file {{file.name}}</a>
            </div>
          </div>
        </div>
      </td> 
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <br>
  <div *ngIf="JSObject.keys(peers).length !== 0 && !sendZeroService.disableFileSending" class="filePicker">
    <file-drop style="cursor: pointer; text-align: center" (click)="openFileInput()" headertext="{{file ? file.name + '&emsp;' +  (file.size | byteFormat) : 'Drag file here!'}}" (onFileDrop)="fileDropped($event)">
        <!-- <span>optional content (don't set headertext then)</span> -->
    </file-drop>
    <input type='file' style='visibility: hidden' (change)="fileChanged($event)" #fileInput>
    <div *ngIf="fileError !== ''">
      {{ fileError }}
    </div>
    <br>  
    <button mat-raised-button color="primary" id="sendFileButton" name="sendFileButton" (click)="sendFile()" [disabled]="sendZeroService.disableSendButton" class="sendFileButton">Send File</button>
    <div *ngIf="sendError !== ''">
        {{ sendError }}
    </div>
  </div>
</div>