<br>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
      <h2>Send files using WebRTC!</h2>
  </div>
  Your ID is: 
  <mat-form-field class="id">
    <input align="center" matInput disabled type="text" name="id" id="id" [(ngModel)]="sendZeroService.humanId">
  </mat-form-field>
</div>

<div class="connect">  
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3>1. Connect</h3>
          </div>
     </div>
    <div class="row">
      <div class="col-md-4">
          <app-qr></app-qr>
      </div>
      <div class="col-md-8">
          People can connect to this device by scanning the QR code or going to: <a [href]="sendZeroService.connectionLink" target="_blank">{{sendZeroService.connectionLink}}</a>
          <br>
          <b>{{sendZeroService.prompt}}</b>
          <br>
        <div class="connectionBox">
          <mat-form-field>
            <input matInput placeholder="Device ID" type="text" name="peerId" id="peerId" [(ngModel)]="sendZeroService.peerToConnectTo">
          </mat-form-field>
          &nbsp;
          <button mat-raised-button required color="primary" (click)="connectToPeer()" id="connectButton" name="connectButton" class="connectButton" [disabled]="sendZeroService.disableConnectButton">
            {{sendZeroService.connectButtonText}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<!-- <mat-divider></mat-divider> -->
<br>
<div class="send"  *ngIf="JSObject.keys(peers).length !== 0">

    <div class="connect">  
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
                
                <h3>2. Just send it!</h3>
                Select a device from the list below to send a file!
                <br>
                <!-- <mat-grid-list cols="3" rowHeight="2:1">
                  <mat-grid-tile *ngFor="let peerId of JSObject.keys(peers)">
                    <mat-card class="peerCard">
                      <mat-card-header>
                        <div mat-card-avatar>
                          <div *ngIf="peers[peerId].isMobile">
                            <mat-icon>smartphone</mat-icon>
                          </div>
                          <div *ngIf="!peers[peerId].isMobile">
                            <mat-icon>computer</mat-icon>
                          </div>
                        </div>
                        <mat-card-title><b>{{peers[peerId].humanId}}</b></mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="cardContent">
                        {{peers[peerId].prompt}}
                        <div *ngFor="let file of peers[peerId].files" class="fileList">
                          <div class="receiveBox" id="receiveBox" *ngIf="file.maxFileChunks !== 0">
                            <mat-progress-bar *ngIf="file.fileReadyForDownload === false"    
                                diameter="50"
                                mode="determinate"
                                [value]="file.receivedChunks*100/file.maxFileChunks">
                            </mat-progress-bar>
                            <div *ngIf="file.fileReadyForDownload">
                                <a target="_blank" [href]="file.url" [download]="file.name">Click here to download file {{file.name}}</a>
                            </div>
                          </div>
                        </div>   
                      </mat-card-content>
                    </mat-card>
                  </mat-grid-tile>
                </mat-grid-list> -->
                <table mat-table [dataSource]="JSObject.keys(peers)" class="mat-elevation-z8">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef> Select to send file </th>
                    <td mat-cell *matCellDef="let peerId">
                      <mat-radio-button (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(peerId) : null"
                                    [value]="selection.isSelected(peerId)">
                      </mat-radio-button>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="humanId">
                    <th mat-header-cell *matHeaderCellDef> Device ID </th>
                    <td mat-cell *matCellDef="let peerId"> {{peers[peerId].humanId}} </td>
                  </ng-container>  
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let peerId">{{peers[peerId].prompt}}</td> 
                  </ng-container>
                  <ng-container matColumnDef="files">
                    <th mat-header-cell *matHeaderCellDef> Received files </th>
                    <td mat-cell *matCellDef="let peerId">
                      <div *ngFor="let file of peers[peerId].files">
                        <div class="receiveBox" id="receiveBox" *ngIf="file.maxFileChunks !== 0">
                          <mat-progress-bar *ngIf="file.fileReadyForDownload === false"    
                              diameter="50"
                              mode="determinate"
                              [value]="file.receivedChunks*100/file.maxFileChunks">
                          </mat-progress-bar>
                          <div *ngIf="file.fileReadyForDownload">
                              <a target="_blank" [href]="file.url" [download]="file.name">{{file.name}}</a>
                          </div>
                        </div>
                      </div>
                    </td> 
                  </ng-container>
                  
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table>
                <br>
                <div *ngIf="JSObject.keys(peers).length !== 0 && !sendZeroService.disableFileSending" class="filePicker">
                  <file-drop style="cursor: pointer; text-align: center" (click)="openFileInput()" headertext="{{file ? file.name + '&emsp;' +  (file.size | byteFormat) : 'Drag file here!'}}" (onFileDrop)="fileDropped($event)">
                      <!-- <span>optional content (don't set headertext then)</span> -->
                  </file-drop>
                  <input type='file' style='visibility: hidden' (change)="fileChanged($event)" #fileInput>
                  <div *ngIf="fileError !== ''">
                    {{ fileError }}
                  </div>
                  <br>  
                  <div class="sendFileButton">
                    <button mat-raised-button color="primary" id="sendFileButton" name="sendFileButton" class="sendFileButton" (click)="sendFile()" [disabled]="sendZeroService.disableSendButton">Send File</button>
                  </div>
                  <!-- <div *ngIf="sendError !== ''">
                      {{ sendError }}
                  </div> -->
                </div>

              </div>
            </div>
          </div>
      </div>
</div>

<!-- <div class="">
    <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
    <button mat-raised-button color="primary" (click)="getVideoInputDevices()" [disabled]="sendZeroService.disableSendButton">lol</button>
</div> -->

<!-- QR -->
<!-- <main class="wrapper" style="padding-top:2em">

    <section class="container" id="demo-content">
        <h1 class="title">Scan QR Code from Video Camera</h1>
      
        <p>This example shows how to scan a QR code with ZXing javascript library from the device video camera. If more
            than one video input devices are available (for example front and back camera) the example shows how to read
            them and use a select to change the input device..</p>
      
        <div>
            <a class="button" id="startButton">Start</a>
            <a class="button" id="resetButton">Reset</a>
        </div>
      
        <div>
            <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
        </div>
      
        <div id="sourceSelectPanel" style="display:none">
            <label for="sourceSelect">Change video source:</label>
            <select id="sourceSelect" style="max-width:400px">
            </select>
        </div>
      
        <label>Result:</label>
        <blockquote>
            <p id="result"></p>
        </blockquote>
      
        <p>See the <a href="https://github.com/zxing-js/library/tree/master/docs/examples/qr-camera/">source code</a> for this example.</p>
      </section>

</main> -->

  <!-- <script type="text/javascript" src="zxing.qrcodereader.min.js"></script>
  <script type="text/javascript">
      window.addEventListener('load', function () {
          const codeReader = new ZXing.BrowserQRCodeReader()
          console.log('ZXing code reader initialized')
          codeReader.getVideoInputDevices()
              .then((videoInputDevices) => {
                  const sourceSelect = document.getElementById('sourceSelect')
                  const firstDeviceId = videoInputDevices[0].deviceId
                  if (videoInputDevices.length > 1) {
                      videoInputDevices.forEach((element) => {
                          const sourceOption = document.createElement('option')
                          sourceOption.text = element.label
                          sourceOption.value = element.deviceId
                          sourceSelect.appendChild(sourceOption)
                      })

                      const sourceSelectPanel = document.getElementById('sourceSelectPanel')
                      sourceSelectPanel.style.display = 'block'
                  }

                  document.getElementById('startButton').addEventListener('click', () => {
                      codeReader.decodeFromInputVideoDevice(firstDeviceId, 'video').then((result) => {
                          console.log(result)
                          document.getElementById('result').textContent = result.text
                      }).catch((err) => {
                          console.error(err)
                          document.getElementById('result').textContent = err
                      })
                      console.log(`Started continous decode from camera with id ${firstDeviceId}`)
                  })

                  document.getElementById('resetButton').addEventListener('click', () => {
                      codeReader.reset()
                      console.log('Reset.')
                  })

              })
              .catch((err) => {
                  console.error(err)
              })
      })
  </script> -->
<!-- End QR -->

<!-- <script>
    const codeReader = new ZXing.BrowserQRCodeReader();
  </script> -->
<!-- <zxing-scanner></zxing-scanner> -->
<!-- <codeReader></codeReader> -->

<!-- <zxing-scanner></zxing-scanner> -->

<zxing-scanner #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
