.id {
  width: auto;
}

.peerid {
  width: auto;
}

.receiveBox {
  text-align: center;
  margin: 0 auto;
  width: 300px;
}

.filePicker {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.peerList {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

table {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}