.id {
  width: 225px;
}

.peerid {
  width: 225px;
}

// .receiveBox {
// }

.fileList {
  overflow-y: scroll;
}

.connect {
  margin-left: 2%;
  margin-right: 2%;
}

.send {
  margin-left: 2%;
  margin-right: 2%;
}

// .filePicker {
// }

.peerCard {
  text-align: center;
  margin: 0 auto;
  width: 96%; 
}

.cardContent {
  text-align: center;
}

.sendFileButton {
  text-align: center;
  margin: 0 auto;
}

table {
  width: 100%;
}

mat-header-cell {
  display:flex;
  justify-content:flex-end;
}

.scanButton {
  margin-top: 5%;
}

.connection-expansion-panel {
  margin-left: 2%;
  margin-right: 2%;
}