<div class="simple-form-aligner">
  <mat-card class="simple-form-card">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <mat-card-title>	Register </mat-card-title>
      <mat-card-subtitle>	Already have an account? 
        <a routerLink="/login" [queryParams]="loginRegisterSwitchQueryParams">
          Log in here.
        </a>
      </mat-card-subtitle>
      <mat-card-content>
        <div class="form-group">
          <mat-form-field class="simple-form-field-50">
            <input matInput placeholder="Given name" name="givenName" formControlName="givenName">
          </mat-form-field>
          <mat-form-field class="simple-form-field-50">
            <input matInput placeholder="Family name" name="familyName" formControlName="familyName">
          </mat-form-field>
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Username" name="username" formControlName="username">
          </mat-form-field>
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Email" name="email" formControlName="email">
          </mat-form-field>
          <br>
          <mat-form-field class="simple-form-field-100">
            <input matInput type="password" placeholder="Password" name="password" formControlName="password">
          </mat-form-field>
          <br>
          <section>
            <button
                [disabled]="waiting"
                class="simple-form-button"
                color="primary"
                mat-raised-button
                type="submit"
                value="submit">
              Register
            </button>
            <mat-progress-spinner
                *ngIf="waiting"
                color="primary"
                mode="indeterminate"
                class="simple-form-spinner"
                [diameter]=22>
            </mat-progress-spinner>
            <span 
                *ngIf='formErrorMessage'
                class="text-error-color">
              {{formErrorMessage}}
            </span>
          </section>
        </div>
        By registering, you agree to our
            <a routerLink='/privacy'>Privacy Policy</a> 
            and our 
            <a routerLink='/terms'>Terms and Conditions.</a>
      </mat-card-content>
    </form>
  </mat-card>
</div>
