<div *ngIf="!submitSuccess" class="simple-form-aligner">
  <mat-card class="simple-form-card">
    <mat-card-title>Forgot username </mat-card-title>
    <mat-card-subtitle>Enter your email to have your username emailed to you. 
      Forgot your password? 
      <a routerLink="/forgot-password">
        Reset my password.
      </a>
    </mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <div class="form-group">
          <mat-form-field class="simple-form-field-100">
            <input matInput placeholder="Email" name="email" formControlName="email">
          </mat-form-field>
          <br>
          <button 
              [disabled]="waiting"
              class="simple-form-button" 
              color="primary" 
              mat-raised-button 
              type="submit" 
              value="submit">
            Submit
          </button>
          <mat-progress-spinner
              *ngIf="waiting"
              color="primary"
              mode="indeterminate"
              class="simple-form-spinner"
              [diameter]=22>
          </mat-progress-spinner>
          <span 
              *ngIf='formErrorMessage' 
              class="text-error-color">
            {{formErrorMessage}}
          </span>
        </div>
        </form>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="submitSuccess" class="simple-form-aligner">
  <mat-card class="simple-form-card">
    <mat-card-title>Username reminder sent</mat-card-title>
    <mat-card-content>
      If we found your email, we will send your username to your email.
    </mat-card-content>
  </mat-card>
</div>